@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

body {
  @apply bg-white text-black;
  margin: 0; /* ✅ 위쪽 여백 제거 */
  font-family: "NanumPenScript";
}
